body {
    background-color: black;
}

#container {
    width: 1000px;
    height: 550px;
    background-color: aqua;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: whitesmoke;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 20px 50px 0;
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 16px;
    color: gray;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 24px;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
}

.number, .operator {
    cursor: pointer;
}


